*{
    user-select: none;
}
body{
    background-color: #F5F7F8;
}
.font-small{
    font-size: .8rem;
}
.text-wrap-balance{
    text-wrap: balance;
}
.foot-violet{
    background-color: #7743DB;
}
.foot-yellow{
    background-color: #F4CE14;
}
.foot-green{
    background-color: #54B435;
}
.custom-padding-left-12px{
    padding-left: 12px;
}
.grey{
    background-color: rgba(128, 128, 128, 0.54);
}
.custom-height-300{
    height: 400px;
    overflow: hidden;
    background-color: rgba(128, 128, 128, 0.516);
    color: white;
    text-align: center;
}
.custom-height-100{
    min-height: 90px;
    background-color: rgba(128, 128, 128, 0.516);
}
.custom-margin-left{
    margin-right: 50px;
}
.custom-search{
    border-radius: 10px 0 0 10px;
}
.custom-buttom-search{
    border-radius: 0 10px 10px 0;
    border-left: 0;
}
.violet{
    font-weight: bold;
    color: rgb(149, 67, 149);
}
.blue{
    font-weight: bold;
    color: rgb(23, 13, 97);
}
.overflow-hidden{
    height: 200px;
    overflow: hidden;
}
.log-in{
    margin-right: 30px;
}
.custom-small{
    font-size: .8rem;
}
.custom-minvh-100{
    min-height: 100vh;
}
.custom-container-height{
    min-height: 100vh;
    display: flex;
    align-items: center;
}
.custom-bold{
    font-weight: bold;
}
.custom-nav-color{
    background-color: orange;
}
.custom-nuetral-bg-color{
    background-color: #D1EFEB;
}
#custom-background-1{
    background-image: url("http://localhost:8000/img/bg1.png");
}
#custom-background-2{
    background-image: url("http://localhost:8000/img/bg2.png");
}
#custom-background-3{
    background-image: url("http://localhost:8000/img/bg3.png");
}
.common_img{
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-position: center;
}
.img_default{
    border-radius: 10px;
    border: 2px solid black;
}
.custom-bg2-bgcolor-inner{
    border-bottom: 5px solid orange;
}
.featured-dish{
    height: 100%;
}
.custom-reviews{
    font-size: 1.5rem;
}
.custom-review-section{
    font-size: 1rem;
    font-weight: normal;
    text-align: left;
    padding-right: 20px;
}
.comment-container{
    border-left: 3px solid orange;
    padding-left: 10px;
    margin: 10px 0;
    text-align: left;
}
.custom-chatbox, .custom-chatbox-reply{
    padding: 5px 10px;
    background-color: rgba(255, 166, 0, 0.467);
    display: inline-block;
    width: auto;
    margin: 0;
    border-radius: 11px;
}
.custom-reply{
    font-size: .8rem;
    text-decoration: none;
    color: grey;
    text-align: left;
}
.custom-chatbox-reply{
    background-color: rgba(80, 217, 217, 0.436);
}
.custom-comment-input{
    position: absolute;
    bottom: 10px;
    left: 0px;
}
.custom-reviewcontainer{
    height: 350px;
    overflow: auto;
}
.custom-border-top-reviews{
    border-top: 7px solid rgba(0, 0, 255, 0.177);
}
footer{
    background-color: rgb(46, 29, 16);
    color: white;
}
.about-me{
    min-height: 50px;
    max-height: 80px;
    overflow: hidden;
}
/* 
| Star rating
*/
.star:hover{
    background-color: orange;
}
/* 
|   Recipe view
*/
.upload-recipe-button{
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    background-color: rgba(255, 255, 255, 0.532);
    display: block;
    position: absolute;
    right: 10px;
    top: 0px;
}
/* 
|   Profile picture
*/
#profile-picture{
    width: 200px;
    height: 200px;
    position: absolute;
    border-radius: 50%;
    top: -150px;
    left: 50px;
    z-index: 100;
    border: 10px solid #F5F7F8;
}
#homepage-profile{
    width: 100px;
    height: 100px;
}
#edit-profile-link{
    height: 50px;
}
#profile-recipes{
    overflow-y: auto;
    max-height: 1000px
}
/* 
text
*/
.truncated-text{
    height: 100px;
    overflow: hidden;
}
.truncated-text-50{
    height: 70px;
    overflow: hidden;
}

